* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 100%;
  max-height: 100vh;
  position: relative;
  color: #fff;
}
.container .main_container {
  display: grid;
  grid-template-columns: 80px 250px 1fr;
  height: 100vh;
  overflow: hidden;
  background-color: #222124;
  color: white;
}
.container .regSystem {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
}
.container .regSystem .reg_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .regSystem .reg_container > div {
  width: 450px;
  min-height: 500px;
  padding: 38px 24px;
  background-color: #2c2c2e;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .regSystem .reg_container > div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 20px;
}
.container .regSystem .reg_container > div div span {
  width: 78px;
  height: 78px;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid #222124;
}